

<h2>{{oneAnime.attributes.canonicalTitle}} </h2>


<div >

<img class= "animeImg" src="{{oneAnime.attributes.posterImage.original}}" alt="anime-poster"/>
<p>{{oneAnime.attributes.synopsis}}</p>
<h4>Age Rating: {{oneAnime.attributes.ageRating}} </h4>
<h4>Episode Count: {{oneAnime.attributes.episodeCount}} </h4>
<h4>Average Rating: {{oneAnime.attributes.averageRating}} </h4>
<h4>Start Date: {{oneAnime.attributes.startDate}} </h4>
<h4>Status: {{oneAnime.attributes.status}} </h4>

</div>

