
{{#if fromDB}}
  <h2>{{oneAnime.title}} </h2>
{{else}}
  <h2>{{theTitle}} </h2>
{{/if}}


<div >
{{#if fromDB}}
  <img class= "animeImg" src="{{oneAnime.image}}" alt="anime-poster"/>
{{else}}
  <img class= "animeImg" src="{{oneAnime.posterImage.original}}" alt="anime-poster"/>
{{/if}}
<p>{{oneAnime.synopsis}}</p>
<h6>Age Rating: {{oneAnime.ageRating}} </h6>
<h6>Episode Count: {{oneAnime.episodeCount}} </h6>
<h6>Average Rating: {{oneAnime.averageRating}} </h6>
<h6>Start Date: {{oneAnime.startDate}} </h6>
<h6>End Date: {{oneAnime.endDate}}</h6>
<h6>Status: {{oneAnime.status}} </h6>

 {{!-- <a href="/{{oneAnime.id}}/addReview">Add Review</a> --}}
{{!-- <form action="/animeAdd" method="POST">

<button type="submit">Review</button>
</form>  --}}

<form action="/animeAdd" method="POST">
<label for="titleInput"></label>
<input id="titleInput" name="title" value="{{theTitle}}" class="display">

<label for="imageInpute"></label>
<input id="imageInput" name="image" value="{{oneAnime.posterImage.original}}" class="display">

<label for="synopsisInpute"></label>
<input id="synopsisInpute" name="synopsis" value="{{oneAnime.synopsis}}" class="display">

<label for="ageInput"></label>
<input id="ageInput" name="ageRating" value="{{oneAnime.ageRating}}" class="display">

<label for="episodeInput"></label>
<input id="episodeInput" name="episodeCount" value="{{oneAnime.episodeCount}}" class="display">

<label for="ratingInpute"></label>
<input id="ratingInpute" name="averageRating" value="{{oneAnime.averageRating}}" class="display">

<label for="startInpute"></label>
<input id="startInpute" name="startDate" value="{{oneAnime.startDate}}" class="display">

<label for="endInpute"></label>
<input id="endInpute" name="endDate" value="{{oneAnime.endDate}}" class="display">

<label for="statusInpute"></label>
<input id="statusInpute" name="status" value="{{oneAnime.status}}" class="display">

{{#if theUser}}
  <div>
  <button type="submit" class="btn btn-primary">Submit a Review</button>
  </div>
{{else}}

{{/if}}

</form>
<br>
<h3>Reviews</h3>


{{#each oneAnime.reviews}}
<div class="reviews">
  <h4>{{this.author}}</h4>
  <p>{{this.review}}</p>
  <h6>Ratting: {{this.rating}}</h6>
  </div>
{{!-- {{theUser.username this.author}} --}}
{{#if this.me}}
 <a href="/anime/{{this._id}}/edit"> <button class="btn btn-primary">Edit this Review</button></a>
 <form action="/anime/{{this._id}}/delete" method="POST">
    <button>Delete This</button>
</form>
{{/if}} 

{{/each}}

</div>

